In [1]:
"""
Get the packages we need to manipulate the dataset 
"""
import numpy as np 
import pandas as pd 
import os

In [2]:
"""
Specify the directories for data. These are universal for our repository-
this is the only thing you should not change.
"""

#rewrite this in the preferred way using os.join and os.path 

DATA_DIR = './' + 'raw_data'

DATA_NAME = '/diabetic_data.csv'

DATA_PATH = DATA_DIR + DATA_NAME

os.listdir(DATA_DIR)

if os.path.isfile(DATA_PATH): 
    print('DATA_PATH is good path')
else:
    raise ValueError('DATA_PATH is not valid path')

DATA_PATH is good path

In [3]:
"""
Define size of data sample to read-in. Use to_skip to define the logic. 

Import data as pandas dataframe for that format 
"""

SAMPLE_SIZE = 10000

def to_skip(index): 
    """
    Function to be used with pandas skiprows
    """
    keeprow = False
    
    if index <= SAMPLE_SIZE:
        keeprow = True
    else:
        keeprow = False
    
    return keeprow

raw_data = pd.read_csv(DATA_PATH,nrows = SAMPLE_SIZE)
                                              
print(raw_data.shape)
raw_data.head(10)
print(raw_data.columns)

(10000, 50)
Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

"""
Process raw data according to the values which are missing. Define the features to keep based on initial report of 
completeness and information
"""
raw_data.columns


to_keep = ['race','gender','age','weight','admission_type_id','discharge_disposition_id',\
           'time_in_hospital','num_lab_procedures','num_procedures','num_medications',
           'number_outpatient','number_emergency','number_inpatient','diag_1','diag_2']

In [21]:
"""
Define the features desired to keep based on the initial summary of data completeness provided here: 

https://www.hindawi.com/journals/bmri/2014/781670/tab1/

This cell is intended only for list manipulation - we actually slice the data in the next cell 
""" 

features = raw_data.columns
print('Here are all possible features: \n\n',features,'\n')

#Here are the 'simple' features identified by Will - we roughly know how to interpret these 
ft_basic = ['race','gender','age','admission_type_id','discharge_disposition_id',
          'time_in_hospital','num_lab_procedures','num_procedures','num_medications', 'number_outpatient',\
           'number_emergency','number_inpatient','number_diagnoses','change',\
            'diabetesMed', 'readmitted']

ft_basic_keep = ft_basic[:]

#Here are complex medical features we do not understand 

ft_med = ['diag_1','diag_2','diag_3','max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone']

ft_med_keep = list()

#Here are all the features we will keep or toss 
ft_keep = ft_basic_keep + ft_med_keep 
ft_toss = [x for x in features if (x in features) and (x not in ft_keep)]

print('Here are the features we decided to keep:\n\n', ft_keep,'\n')
print('Here are the features we decided to eliminate: \n\n',ft_toss)

Here are all possible features:

 Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

Here are the features we decided to keep:

 ['race', 'gender', 'age', 'admission_type_id', 'discharge_disposition_id', 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'number_diagnoses', 'change', 'diabetesMed', 'readmitted']

Here are the features we decided to eliminate:

 ['encounter_id', 'patient_nbr', 'weight', 'admission_source_id', 'payer_code', 'medical_specialty', 'diag_1', 'diag_2', 'diag_3', 'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone']

In [22]:
"""
Subset the Raw Data: Here, we refine data according to the desired features to keep defined in the preivous cell. Then 
we type convert the columns in order to actually apply clustering to them. 
"""

data = raw_data[ft_keep]
ft_kept = data.columns 

data.head(10)

,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,41,0,1,0,0,0,1,No,No,NO
1,Caucasian,Female,[10-20),1,1,3,59,0,18,0,0,0,9,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),1,1,2,11,5,13,2,0,1,6,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,2,44,1,16,0,0,0,7,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,1,51,0,8,0,0,0,5,Ch,Yes,NO
5,Caucasian,Male,[50-60),2,1,3,31,6,16,0,0,0,9,No,Yes,>30
6,Caucasian,Male,[60-70),3,1,4,70,1,21,0,0,0,7,Ch,Yes,NO
7,Caucasian,Male,[70-80),1,1,5,73,0,12,0,0,0,8,No,Yes,>30
8,Caucasian,Female,[80-90),2,1,13,68,2,28,0,0,0,8,Ch,Yes,NO
9,Caucasian,Female,[90-100),3,3,12,33,3,18,0,0,0,8,Ch,Yes,NO

In [29]:
"""
Clean the Data: Here we identify rows with missing fields in the desired categories. First, nan/None type is filtered and 
the row number is added to a list of rows which will be skipped when reading in the data for processing
"""

#Iterate over the list of desired features to keep; extract the series aech time, and build the list of rows associated
#to a missing data value available in that series. This is better than simply calling .dropna() one time 

rows_nan = list()
"""
for feature in to_keep:
    data_series = data[feature]
"""
#This is an iterative approach by checking each column - this can likely be done across the whole array simultaneously 


for feature in ft_kept:
    feature_series = data[feature]
    missing_bool = feature_series.isnull()
    nan_indices = feature_series.index[missing_bool]
    print(nan_indices)
    

value_dictionary = dict()
for feature in ft_kept:
    feature_series = data[feature]
    unique_vals = list()
    for x in feature_series:
        if x in unique_vals:
            pass
        else: 
            unique_vals.append(x)
    value_dictionary[feature] = unique_vals

#Here are the available values in each feature that are stored 
print(value_dictionary)

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
{'race': ['Caucasian', 'AfricanAmerican', '?', 'Other', 'Asian', 'Hispanic'], 'gender': ['Female', 'Male'], 'age': ['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)', '[60-70)', '[70-80)', '[80-90)', '[90-100)'], 'admission_type_id': [6, 1, 2, 3, 4, 5, 8], 'discharge_disposition_id': [25, 1, 3, 6, 2, 5, 11, 7, 10, 4, 14, 18, 8, 13], 'time_in_hospital': [1, 3, 2, 4, 5, 13, 12, 9, 7, 10, 6, 11, 8, 14], 'num_lab_procedures': [41, 59, 11, 44, 51, 31, 70, 73, 68, 33, 47, 62, 60, 55, 49, 75, 45, 29, 35, 42, 66, 36, 19, 64, 25, 53, 52, 87, 27, 37, 46, 28, 48, 72, 10, 2, 65, 67, 40, 54, 58, 57, 43, 32, 83, 34, 39, 69, 38, 56, 22, 96, 78, 61, 88, 50, 1, 18, 82, 9, 63, 24, 71, 77, 81, 76, 90, 93, 3, 103, 13, 80, 85, 16, 15, 12, 30, 23, 17, 21, 79, 26, 5, 95, 97, 84, 14, 74, 105, 86, 98, 20, 6, 94, 8, 102, 100, 7, 89, 91, 92, 4, 101, 99, 114, 113], 'num_procedures': [0, 5, 1, 6, 2, 3, 4], 'num_medications': [1, 18, 13, 16, 8, 21, 12, 28, 17, 11, 15, 31, 2, 23, 19, 7, 20, 14, 10, 22, 9, 27, 25, 4, 32, 6, 30, 26, 24, 33, 5, 39, 3, 29, 61, 40, 46, 41, 36, 34, 35, 50, 43, 42, 37, 51, 38, 45, 54, 52, 49, 62, 55, 47, 44, 53, 48, 57], 'number_outpatient': [0, 2, 1, 5, 7, 9, 3, 8, 4, 12, 11, 6], 'number_emergency': [0, 1, 2, 4, 3, 9, 5, 7, 6, 8, 22], 'number_inpatient': [0, 1, 2, 3, 6, 5, 4, 7, 8, 9, 15, 10, 11], 'number_diagnoses': [1, 9, 6, 7, 5, 8, 3, 4, 2], 'change': ['No', 'Ch'], 'diabetesMed': ['No', 'Yes'], 'readmitted': ['NO', '>30', '<30']}